# Folders - general
.vscode/
.tox/
__pycache__/
data/
paper/
3dgs/

# Folders - django
migrations/
models/
fixtures/

# Folders - Meshroom
bin/
bin21/
bin23/
Meshroom-2021.1.0/
Meshroom-2023.1.0/

# Files
db.sqlite3
local_settings.py
local_tasks.py
celerybeat-schedule
leaderboard.*

# venv + local
bk/
local/
todo.md
*.log
cert/
gunicorn/
ckpts/
