[submodule "tirtha_bk/nn_models/MANIQA"]
	path = tirtha_bk/nn_models/MANIQA
	url = https://github.com/JeS24/MANIQA.git
[submodule "tirtha_bk/nn_models/nsfw_model"]
	path = tirtha_bk/nn_models/nsfw_model
	url = https://github.com/JeS24/nsfw_model.git
