absl-py==2.1.0
addict==2.4.0
amqp==5.2.0
anyio==4.4.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
av==12.1.0
awscli==1.33.3
babel==2.16.0
beautifulsoup4==4.12.3
bidict==0.23.1
billiard==4.2.0
black==24.4.2
bleach==6.1.0
blinker==1.8.2
botocore==1.34.121
cachetools==5.5.0
celery==5.4.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
colorlog==6.8.2
comet-ml==3.43.0
comm==0.2.2
ConfigArgParse==1.7
configobj==5.0.8
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
dash==2.17.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
descartes==1.1.0
dill==0.3.8
distlib==0.3.8
Django==5.1.1
django-cleanup==8.1.0
django-dbbackup==4.2.1
django-extensions==3.2.3
docker-pycreds==0.4.0
docstring_parser==0.16
docutils==0.16
dulwich==0.22.1
einops==0.8.0
embreex==2.17.7.post4
everett==3.1.0
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.16.0
fire==0.6.0
flake8==7.1.1
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.51.0
fpsample==0.3.2
fqdn==1.5.1
fsspec==2024.2.0
gast==0.5.4
gdown==5.2.0
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.19.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-cloud-vision==3.7.2
google-pasta==0.2.0
googleapis-common-protos==1.63.0
grpcio==1.64.0
grpcio-status==1.62.2
gsconverter==0.2
gsplat==1.0.0
gunicorn==23.0.0
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.1
idna==3.7
imageio==2.35.1
importlib_metadata==7.1.0
ipykernel==6.29.5
ipython==8.27.0
ipywidgets==8.1.5
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.2.0
jax==0.4.28
jaxtyping==0.2.29
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.2.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.13
keras==3.3.3
kiwisolver==1.4.5
kombu==5.3.7
lazy_loader==0.4
libclang==18.1.1
lightning-utilities==0.11.2
lxml==5.2.2
mapbox-earcut==1.0.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mediapy==1.2.2
mistune==3.0.2
ml-dtypes==0.3.2
mpmath==1.3.0
msgpack==1.0.8
msgpack-numpy==0.4.8
multiprocess==0.70.16
mypy-extensions==1.0.0
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nerfacc==0.5.2
nerfstudio==1.1.4
nest-asyncio==1.6.0
networkx==3.2.1
ninja==1.11.1.1
nodeenv==1.9.1
notebook==7.2.0
notebook_shim==0.2.4
-e git+https://github.com/JeS24/nsfw_model.git@52d16f7df74dce3608fd7791c5a860dfef96a0cd#egg=nsfw_detector&subdirectory=../../../../tirtha_bk/nn_models/nsfw_model
numpy==1.26.3
nuscenes-devkit==1.1.9
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.6.68
nvidia-cudnn-cu11==8.7.0.84
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
oauthlib==3.2.2
open3d==0.18.0
opencv-python==4.8.0.76
opencv-python-headless==4.10.0.84
opt-einsum==3.3.0
optree==0.12.1
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pathos==0.3.2
pathspec==0.12.1
pexpect==4.9.0
pillow==10.4.0
pillow_heif==0.18.0
platformdirs==4.2.2
plotly==5.22.0
pluggy==1.5.0
plyfile==1.1
pox==0.3.4
ppft==1.7.6.8
prometheus_client==0.20.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==3.20.3
psutil==6.0.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycocotools==2.0.7
pycodestyle==2.12.1
pycollada==0.8
pycparser==2.22
pydot==3.0.1
pyflakes==3.2.0
Pygments==2.18.0
pyliblzfse==0.4.1
pymeshlab==2023.12.post1
pyngrok==7.1.6
pyparsing==3.1.2
pyproject-api==1.7.1
pyquaternion==0.9.9
PySocks==1.7.1
python-box==6.1.0
python-dateutil==2.9.0.post0
python-engineio==4.9.1
python-json-logger==2.0.7
python-socketio==5.11.2
pytorch-msssim==1.0.0
pytz==2024.2
pytzdata==2020.1
PyYAML==6.0.2
pyzmq==26.0.3
qtconsole==5.5.2
QtPy==2.4.1
rawpy==0.21.0
referencing==0.35.1
requests==2.32.2
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.8.1
rpds-py==0.18.1
rsa==4.7.2
Rtree==1.3.0
s3transfer==0.10.1
safetensors==0.4.3
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.3
sentry-sdk==2.5.0
setproctitle==1.3.3
shapely==2.0.6
shortuuid==1.0.13
shtab==1.7.1
silence_tensorflow==1.2.2
simple-websocket==1.0.0
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
splines==0.3.0
sqlparse==0.5.1
stack-data==0.6.3
support_developer==1.0.5
svg.path==6.3
sympy==1.12
tenacity==8.3.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-estimator==2.15.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.37.0
tensorly==0.8.1
tensorrt==10.4.0
tensorrt-cu12==10.4.0
tensorrt-cu12-bindings==10.4.0
tensorrt-cu12-libs==10.4.0
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.5.0
tifffile==2024.5.22
timm==0.6.7
tinycss2==1.3.0
torch==2.3.0+cu118
torch-fidelity==0.3.0
torchaudio==2.3.0+cu118
torchmetrics==1.4.0.post0
torchvision==0.18.0+cu118
tornado==6.4
tox==4.18.1
tqdm==4.66.4
traitlets==5.14.3
trimesh==4.4.1
triton==2.3.0
typeguard==2.13.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.9.0
tyro==0.8.4
tzdata==2024.1
uri-template==1.3.0
urllib3==2.2.1
vhacdx==0.0.6
vine==5.1.0
virtualenv==20.26.4
viser==0.2.3
wandb==0.18.0
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.4
widgetsnbextension==4.0.13
wrapt==1.16.0
wsproto==1.2.0
wurlitzer==3.1.0
xatlas==0.0.9
xxhash==3.4.1
yourdfpy==0.0.56
zipp==3.19.2
authlib==1.3.0