# Linting and testing
black
flake8
isort
tox
rich

# Basic requirements
numpy
opencv-python
pandas
scipy
Pillow
pillow-heif
requests

# Django + Celery + Gunicorn
Django
django-cleanup
django-dbbackup
django-extensions
# amqp CHECK:
celery
gunicorn
psycopg2
psycopg2-binary
pytz
pytzdata
shortuuid

# For Google Auth
authlib
uuid