{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block banner %}
<div id="banner">
    <h2>500: Internal server error. Redirecting to https://smlab.niser.ac.in/project/tirtha/...</h2>
    <script>
        // Redirect to home after 3 seconds
        setTimeout(function() {
            window.location.href = "https://smlab.niser.ac.in/project/tirtha/";
        }, 3000);
    </script>
</div>
{% endblock %}
