<details id="acknowledgment">
    <summary>Acknowledgment</summary>
    <div class="details-inner">
        <p>
            We thank the following individuals for their contributions to the project's development:
        </p>
        <ul class="ul-inner">
            <li>
                <a href="https://github.com/JeS24" target="_blank">Jyotirmaya Shivottam</a>
            </li>
            <li>
                <a href="https://github.com/AvTheBlackBird" target="_blank">Anubhav Vishwakarma</a>
            </li>
            <li>
                <a href="https://github.com/annadapb" target="_blank">Annada Prasad Behera</a>
            </li>
        </ul>
        <p>
            We are grateful to the developers of the following open-source
            libraries, which help make this project a reality:
        </p>
        <ul class="ul-inner">
            <li>
                <a href="https://github.com/alicevision" target="_blank">
                    AliceVision
                </a>
            </li>
            <li>
                <a href="https://github.com/nerfstudio-project" target="_blank">
                    nerfstudio
                </a>
            </li>
            <li>
                <a href="https://github.com/graphdeco-inria/gaussian-splatting" target="_blank">
                    3D Gaussian Splatting Reference (Inria)
                </a>
            </li>
            <li>
                <a href="https://github.com/CesiumGS/obj2gltf" target="_blank">
                    <code>obj2gltf</code>
                </a>
            </li>
            <li>
                <a href="https://github.com/zeux/meshoptimizer" target="_blank">
                    <code>gltfpack</code>
                </a>
            </li>
            <li>
                <a href="https://github.com/google/model-viewer" target="_blank">
                    <code>&ltmodel-viewer&gt</code>
                </a>
            </li>
            <li>
                <a href="https://github.com/antimatter15/splat" target="_blank">
                    3D Gaussian Splat Viewer
                </a>
            </li>
            <li>
                <a href="https://github.com/francescofugazzi/3dgsconverter" target="_blank">
                    3D Gaussian Splatting Converter
                </a>
            </li>
            <li>
                <a href="https://github.com/googlefonts/rubik" target="_blank">
                    Google Fonts | Rubik
                </a>
            </li>
            <li>
                <a href="https://github.com/google/material-design-icons" target="_blank">
                    Google Fonts | Material Icons
                </a>
            </li>
            <li>
                <a href="https://github.com/django/django" target="_blank">
                    Django
                </a>
            </li>
            <li>
                <a href="https://github.com/jquery/jquery" target="_blank">
                    jQuery
                </a>
            </li>
            <li>
                <a href="https://github.com/benoitc/gunicorn" target="_blank">
                    gunicorn
                </a>
            </li>
            <li>
                <a href="https://github.com/nginx/nginx" target="_blank">
                    nginx
                </a>
            </li>
            <li>
                <a href="https://github.com/celery/celery" target="_blank">
                    Celery
                </a>
            </li>
            <li>
                <a href="https://github.com/rabbitmq" target="_blank">
                    RabbitMQ
                </a>
            </li>
            <li>
                <a href="https://github.com/opencv/opencv" target="_blank">
                    OpenCV
                </a>
            </li>
            <li>
                <a href="https://github.com/IIGROUP/MANIQA" target="_blank">
                    MANIQA
                </a>
            </li>
            <li>
                <a href="https://github.com/GantMan/nsfw_model" target="_blank">
                    nsfw_model
                </a>
            </li>
            <li>
                <a href="https://github.com/docker" target="_blank">
                    Docker
                </a>
            </li>
        </ul>
        <p>
            We also thank Odisha State Archaeology for their support.
        </p>
    </div>
</details>
