<footer>
    <p id="footer-links">
        <a href="https://github.com/smlab-niser/tirtha-public" target="_blank">
            <span class="material-symbols-outlined footer-icons">
                code_blocks
            </span>
        </a>
        <a href="mailto:project.tirtha@niser.ac.in">
            <span class="material-symbols-outlined footer-icons">
                mail
            </span>
        </a>
    </p>
    <p id="footer-lic-icons">
        <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
            {% load static %}
            <img alt="Creative Commons License" src="{% static 'media/by-nc-sa.svg' %}" alt="CC BY-NC-SA 4.0">
        </a>
        <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
            {% load static %}
            <img alt="Creative Commons License" src="{% static 'media/by-nc-nd.svg' %}" alt="CC BY-NC-ND 4.0">
        </a>
    </p>
    <p>
        This project is funded by
        <a href="https://www.lafondation3ds.org/" target="_blank">La Fondation Dassault Systèmes</a>.
    </p>
    <address>
        &copy; 2023 Project Tirtha,
        <a href="https://www.niser.ac.in/~smishra/" target="_blank">Subhankar Mishra's Lab</a>,<br>
        <a href="https://www.niser.ac.in/scps/" target="_blank">School of Computer Sciences</a>,  NISER.<br>
        All rights reserved.<br>
    </address>
</footer>
