{% comment %} TODO: MARKED FOR REFACTOR along with views.py {% endcomment %}
<details open id="mesh-details">
    {% block info %}
    {% if run %}
    <summary id="mesh-name">About {{ run.mesh.name }}</summary>
    <div class="details-inner">
        <p id="mesh-info">
            {{ run.mesh.description | safe }}
        </p>
        <hgroup>
            <h4 id="info-h4">Model Statistics</h4>
            {% comment %} NOTE: Descending order by run.ended_at {% endcomment %}
            <select id="select-run" title="Select a run">
                {% for ra in runs_arks %}
                {% comment %} NOTE: ra = (arkID, timestamp) {% endcomment %}
                <option value="{{ ra.0 }}" {% if ra.0 == run.ID %}selected{% endif %}>
                    {{ ra.1 | date:"F j, Y - H:i" }} &mdash; {{ ra.0 }}
                </option>
                {% endfor %}
            </select>
            <ul>
                <li id="recons-type">
                    Reconstruction type: {{ run.get_kind_display }}
                </li>
                <li id="latest-recons">
                    Reconstructed on: {{ run.ended_at | date:"F j, Y" }}
                </li>
                <li id="contrib-count">
                    Contributors: {{ run_contributor_count }}
                </li>
                <li id="images-count">
                    Images: {{ run_images_count }}
                </li>
                <li id="run-ark" title="A persistent identifier for this run">
                    ARK: <a id="run-ark-link" href="{{ run_ark_url }}">{{ run.ark }}</a>
                </li>
            </ul>
        </hgroup>
    </div>
    {% elif mesh %}
    <summary id="mesh-name">About {{ mesh.name }}</summary>
    <div class="details-inner">
        <p id="mesh-info">
            {{ mesh.description | safe }}
        </p>
        {% comment %} NOTE: Following is needed for XHR {% endcomment %}
        {% comment %} TODO: FIXME: NOTE: Not doing XHR anymore for GS Runs {% endcomment %}
        <hgroup>
            <h4 id="info-h4">Model Statistics</h4>
            <select id="select-run" title="Select a run">
                <option value="N.A." selected>
                    N.A.
                </option>
            </select>
            <ul>
                <li id="recons-type">
                    Reconstruction type: N.A.
                </li>
                <li id="latest-recons">
                    Reconstructed on: N.A.
                </li>
                <li id="contrib-count">
                    {% comment %} Since the reconstruction isn't done yet,
                    only show number of contributions {% endcomment %}
                    Contributions: {{ mesh_contribution_count }}
                </li>
                <li id="images-count">
                    Images: {{ mesh_images_count }}
                </li>
                <li id="run-ark" title="A persistent identifier for this run">
                    ARK: <a id="run-ark-link" href="javascript:;">N.A.</a>
                </li>
            </ul>
        </hgroup>
    </div>
    {% endif %}
    {% endblock %}
</details>
