<details>
    <summary id="instructions">How do I contribute?</summary>
    <div class="details-inner">
        <hgroup>
            <h4>Upload instructions</h4>
            <p>
                Before you begin, please read the following instructions:
            </p>
            <ul>
                <li><em>Ensure you have a Google account for authentication.</em></li>
                <li>Click "Contribute" to open the upload form.</li>
                <li>Read the <a href="/#terms">Terms of Use</a> and <a href="/#privacy">Privacy Policy</a> and click on the
                    checkbox, if you agree.</li>
                <li>Authenticate by clicking "Sign in with Google". <em>Only your email address and public profile info will be accessed.</em></li>
                <li>After authentication, the upload form will be enabled. Select the model and upload images. The list of available models is on the right. "Open" means contributions are being accepted, "Closed" means they are not.</li>
                <li><em>Upload up to 100 images (total size of &lt; 500 MB)</em> that meet these requirements for the internal photogrammetry pipeline:
                    <ul class="ul-inner">
                        <li>The object of interest (a part of the building) is clearly visible, without obstructions (people, vegetation, etc.), and in focus.</li>
                        <li>Images are taken from multiple angles or viewpoints with <strong>30 - 40% overlap between images</strong>.</li>
                        <li>Lighting conditions are consistent with no dark shadows, reflections, or transparent objects. Prefer diffused lighting.</li>
                        <li>Images have minimal blur, noise, distortion, or pixelation.</li>
                        <li>Use either landscape or portrait orientation (do not mix both) to avoid distortion.</li>
                        <li>Images must be above <strong>1080p</strong> in resolution and <strong>contain EXIF data</strong>, mainly the camera parameters.</li>
                        <li>In general, try to upload images for a low-resolution or missing part of the building in the live model.</li>
                        <li><strong>Try to be as safe as possible while taking images. Do not trespass or put yourself in danger.</strong></li>
                    </ul>
                    <em>Images not meeting these requirements may be rejected.</em>
                    Confirm that you are not uploading images that<sup>[Check <a href="/#terms">ToS</a> & <a href="/#privacy">Privacy Policy</a>]</sup>:
                    <ul class="ul-inner">
                        <li>Contain sensitive information or personal data.</li>
                        <li>Are not yours or you don't have the right to upload.</li>
                        <li>Are unrelated to the model you're uploading to.</li>
                    </ul>
                    <em>All uploads are licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> as specified in the <a href="/#terms">Terms of Use</a>.</em>
                </li>
                <li>On desktop, you can drag and drop multiple images at once.</li>
                <li>Upon successful upload, a confirmation message will appear, and the form will reset. You can close the form or upload more images.</li>
                <li><strong>Note:</strong> <em>It may take a few days to process the images and update the model.</em></li>
            </ul>
        </hgroup>
        <hgroup>
            <h4>Troubleshooting</h4>
            <p>
                If you encounter errors, try the following:
            </p>
            <ul>
                <li>Enable cookies & JavaScript in your browser if you can't upload images.</li>
                <li>Ensure your ad-blocker isn't blocking necessary scripts. <em>No ads are served on this site.</em></li>
                <li>Try signing in again if you get an authentication error.</li>
                <li>If the error persists, hard-refresh the page (<key>Ctrl</key> + <key>Shift</key> + <key>R</key> on Windows/Linux, <key>Cmd</key> + <key>Shift</key> + <key>R</key> on Mac), and try uploading again. If issues persist, <a href="https://github.com/smlab-niser/tirtha-public/issues" target="_blank">open an issue on GitHub</a>.</li>
            </ul>
        </hgroup>
    </div>
</details>
