<details>
    <summary>What is Project Tirtha?</summary>
    <div class="details-inner">
        {% load static %}
        <p>
            Project Tirtha is an academic initiative to create 3D models of heritage
            sites, using crowdsourced images. The word <i>Tirtha</i> is Sanskrit
            for "a place of pilgrimage", and is commonly used to refer to the sacred
            sites of Hinduism, Jainism and Buddhism. Our goal is to preserve and showcase the beauty and cultural
            significance of heritage sites. We believe that by allowing the general public
            to contribute to the creation of these models, and by providing open access to
            these models, we can increase awareness and appreciation of these
            important cultural landmarks and inspire future generations to maintain
            them for years to come.
        </p>
        <p>
            This project is open-source under the GNU Affero General Public License v3.0
            and is under active development. You can find the source code on our
            <a href="https://github.com/smlab-niser/tirtha-public" target="_blank">GitHub</a> repo.
            All contributions are welcome. Please read
            <a href="https://github.com/smlab-niser/tirtha-public/blob/main/CONTRIBUTING.md" target="_blank">CONTRIBUTING</a>
            for more details. You can report bugs or suggest features, submit images via "Contribute", or suggest heritage sites 
            via "Request site". Please read <a href="#instructions">How do I contribute?</a> before proceeding. A slideshow
            with video instructions for the project can be found
            <a href="https://smlab.niser.ac.in/project/tirtha/howto" target="_blank">here</a>, while a slidedeck presented at
            <a href="https://web3d.siggraph.org/program/#detailed-program" target="_blank">ACM Web3D 2023</a> can be found
            <a href="{% static 'media/acmweb3d_tirtha.pdf' %}" target="_blank">here</a>.
        </p>
        <p>
            Please cite the following paper if you use this software in your work:
            <pre id="citation">
@inproceedings{10.1145/3611314.3615904,
    author = {Shivottam, Jyotirmaya and Mishra, Subhankar},
    title = {Tirtha - An Automated Platform to Crowdsource Images and Create 3D Models of Heritage Sites},
    year = {2023},
    isbn = {9798400703249},
    publisher = {Association for Computing Machinery},
    address = {New York, NY, USA},
    url = {https://doi.org/10.1145/3611314.3615904},
    doi = {10.1145/3611314.3615904},
    booktitle = {Proceedings of the 28th International ACM Conference on 3D Web Technology},
    articleno = {11},
    numpages = {15},
    keywords = {photogrammetry, open source, digital heritage, crowdsourcing, 3D dataset},
    location = {San Sebastian, Spain},
    series = {Web3D '23}
}
            </pre>
        </p>
    </div>
</details>
