<details>
    <summary id="privacy">
        Privacy Policy [Updated: July 15, 2023]
    </summary>
    <div class="details-inner">
      <p>
        <strong style="color: crimson;">[Effective: July 15, 2023]</strong> Please read our privacy policy carefully before using Tirtha. Do not access or use Tirtha if you do not agree with any part of this policy.
      </p>
      <ul>
        <li>
            <a href="https://developers.google.com/identity/gsi/web/guides/overview" target="_blank">Google Identity Services</a> is used for authentication of contributors, i.e., "people who upload images". Only your email address and public profile name ("personal information") are stored to identify your contributions, i.e., "sets of images uploaded by you", on this website.
        </li>
        <li>
            Uploaded images are stored on our servers, and the associated metadata, including EXIF data and GPS coordinates (if available), is used solely for 3D model reconstruction purposes.
        </li>
        <li>
            All pre-processing steps, except NSFW filtering, occur client-side on your browser or server-side on our end. We utilize local models and the <a href="https://cloud.google.com/vision/docs/detecting-safe-search" target="_blank">Google CloudVision API</a> for NSFW image filtering. The images are uploaded to Google servers for filtering purposes but are not stored on them.
        </li>
        <li>
            Your personal information and uploaded images are not sold or rented to any third party.
        </li>
        <li>
            Session cookies are utilized to store your login information, and they are deleted when you close your browser. We do not use other cookies or analytics tools on this website. However, Google Identity Services may log your presence on this site. We cannot control the collection of this information, and you should refer to their <a href="https://developers.google.com/identity/gsi/web/guides/overview#user_privacy" target="_blank">privacy policy</a> for more information.
        </li>
        <li>
            Your personal information is retained as long as you have at least one contribution associated with your account. If all contributions are deleted, your personal information and account are also deleted within a reasonable amount of time, usually less than a week. You can create a new account and upload new images by reauthenticating.
        </li>
        <li>
            To request the deletion of your account and personal information, or some/all of your contributions, please contact us at <a href="mailto:project.tirtha@niser.ac.in">project.tirtha@niser.ac.in</a>. Please note that not all contributions may be deleted if they were used to create 3D models.
        </li>
        <li>
            We may use your personal information to contact you about the project or your contributions. We may also share your information if required by law.
        </li>
        <li>
            Appropriate technical and organizational measures have been implemented to protect data on our servers. However, we cannot & do not guarantee the absolute security of your information or uploaded content.
        </li>
        <li>
            Tirtha is an academic project, and we disclaim liability for any data loss or damage resulting from its use. Your use of this website is at your own risk, and you agree to indemnify us against any claims arising from such use.
        </li>
        <li>
            We reserve the right to modify this privacy policy at any time. Please refer to the "Effective" date above for the last update.
        </li>
      </ul>
  </div>
</details>
