<details>
    <summary id="terms">
        Terms of Use [Updated: July 15, 2023]
    </summary>
    <div class="details-inner">
        <p>
            <strong style="color: crimson;">[Effective: July 15, 2023]</strong> By accessing this website or uploading images to Project Tirtha ("use"), you agree to be legally and contractually bound by these terms of use and our <a href="https://tirtha.niser.ac.in/#privacy">Privacy Policy</a>. <em>If you do not agree to these terms or our privacy policy, do not access or use Tirtha.</em>
        </p>
        <ul>
            <li>
                Tirtha is an academic image crowdsourcing platform specializing in heritage sites, created by <a href="https://www.niser.ac.in/~smishra" target="_blank">Dr. Subhankar Mishra's Lab</a> at <a href="https://www.niser.ac.in" target="_blank">National Institute of Science Education and Research</a>. Uploaded images are used to create 3D models through a photogrammetry pipeline. By using Tirtha, you are contributing to this process.
            </li>
            <li>
                By using Tirtha, you warrant that you have legal rights to share the uploaded images, which may be used by us for creating 3D models. All images uploaded to Tirtha are licensed under the <strong><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a></strong>.
            </li>
            <li>
                We reserve the right to remove inappropriate user content, including images unrelated to heritage sites, personally identifiable information, and any inappropriate content.
            </li>
            <li>
                We reserve the right to terminate your use of our platform for repeatedly uploading inappropriate or unrelated images, personally identifiable information, or any inappropriate content. Termination prevents further image uploads but allows access to view 3D models. We will make our best efforts to notify you of termination or if our systems flag any such content, but we are not liable for any data loss or damage that may occur as a result of such termination or flagging.
            </li>
            <li>
                The accuracy of 3D models depends on various factors, and we strive for accuracy, but we are not responsible for inaccuracies, errors in models, or any damage or data loss during the image upload process.
            </li>
            <li>
                The outputs, which include the 3D models created from images submitted to Tirtha, are licensed under the <strong><a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a></strong>. Please check if your intended use aligns with this license, and <a href="mailto:project.tirtha@niser.ac.in">contact us</a> if unsure.
            </li>
            <li>
                We reserve the right to change the license on the outputs, including the 3D models, at any time, which will affect models reconstructed after the date of the license update. Check the model information in the <a href="#mesh-details">About section</a> for the reconstruction date.
            </li>
            <li>
                By using Tirtha, you agree to indemnify and hold us harmless from any claims, damages and expenses (including attorneys' fees) arising from your use of our platform. This also includes any claims, damages, or expenses arising during the image capture process. It is the sole responsibility of the user to ensure that the image capture process is safe and legal.
            </li>
            <li>
                We reserve the right to change these terms at any time. Material changes will be notified via email or via a message posted on the site. Your continued use of Tirtha after the effective date of the modified terms constitutes acceptance of the modified terms.
            </li>
            <li>
                These terms of use are governed by the laws of India, and any dispute will be subject to the exclusive jurisdiction of the courts of Bhubaneswar, Odisha, India.
            </li>
        </ul>
    </div>    
</details>
